.App {
  background-color: var(--grey);
  min-height: 100vh;
  max-height: fit-content;
}

*{
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--grey);
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
 }

 a{
  text-decoration: none !important;
  /* color: var(--white); */
 }

 .maintitle{
  
  align-items: center;
  padding-top: 200px !important;
  
  
 }


 body::-webkit-scrollbar {
  display: none;
}

.contain::-webkit-scrollbar {
  display: none;
}

:root{
  --fs-xl: clamp(10rem, 30vw  , 20rem);
  --fs-lg: clamp(3rem, 6vw, 20rem);
  --fs-md: clamp(0.2rem, 30vw, 1.2rem);
  --fs-subheading: clamp(0.6rem, 30vw, 2.1rem);
  --fs-subheading2: clamp(0.3rem, 20vw, 2rem);
  
}

/* @media (min-width: 768px) {
  :root {
    --fs-xl: clamp(2.5rem, 5vw + 1rem, 5rem);
  }
} */

.title{
  /* font-size: 30rem; */
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--yellow);
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: clamp(-1rem, 30vw, -3.5rem);
  margin: 0 !important;
  /* line-height: 14rem; */
  /* line-height: clamp(1rem, 3vw, 10rem); */
  /* line-height: 0.1vw; */
}

.logo{
  /* max-width: 900px; */
  width: clamp(350px, 60vw, 900px);
  margin-bottom: 60px !important;
}

.logo2{
  /* max-width: 900px; */
  width: clamp(350px, 60vw, 700px);
  /* margin-bottom: 60px !important; */
}

.logo3{
  /* max-width: 900px; */
  width: clamp(400, 60vw, 800px);
  /* margin-bottom: 60px !important; */
  margin-top: 5rem !important;
}

.cp{
  cursor: pointer;
}

.subtitle{
  /* font-size: 7rem; */
  font-size: var(--fs-lg) !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  letter-spacing: clamp(-2rem, 3vw, 10rem);
}



.contain {
  min-height: 100vh;
  max-height: fit-content;
  background-color: var(--grey);
  overflow-y: scroll;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}


section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* scroll-snap-align: start;
  max-width: 1200px !important;
  float: right !important; */

}

.fr{
  float: right !important;
}


.quote{
  max-width: 800px;
}


.subtitlediv{
  margin-top: -275px !important;
}

.description{
  /* font-size: 1.3rem; */
  font-size: var(--fs-md);
  margin-top: 2rem !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  max-width: 800px !important;
}

.prps{
  max-width: 1000px !important;
  float: right !important;
}

.description3{
  /* font-size: 1.3rem; */
  font-size: var(--fs-md);
  margin-top: 2rem !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  max-width: 900px !important;
}

.description2{
  /* font-size: 1.3rem; */
  font-size: var(--fs-md);
  margin-top: 2rem !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  max-width: 1000px !important;
}



.subheading{
  /* font-size: 1.3rem; */
  font-size: var(--fs-subheading);
  margin-top: 3rem !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
  /* max-width: 700px !important; */
}

.subheading2{
  /* font-size: 1.3rem; */
  font-size: var(--fs-subheading2);
  margin-top: 3rem !important;
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
}

.teamheading{
  font-size: var(--fs-subheading);
  color: var(--white);
  font-family: 'Proxima Nova', sans-serif;
}

.maincontent {
  line-height: 14rem;
  /* padding-left: 50px !important; */
 }
.maincontent2 {
  line-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: start !important;
  /* padding-left: 50px !important; */
 }

 

 .z-index{
  z-index: 999 !important;
 }

.maincontent .first {
  line-height: 14rem;
  padding-left: 50px !important;
 }

 .heading2{
  /* font-size: 10rem; */
  font-size: clamp(1.5rem, 20vw, 9rem);
  font-weight: 1000 !important;
  color: var(--yellow);
  font-family: 'Proxima Nova', sans-serif;
  margin: 0 !important;
  line-height: 8rem;
 }



 .heading22{
  /* font-size: 10rem; */
  font-size: clamp(1.5rem, 20vw, 12rem);
  font-weight: 1000 !important;
  color: var(--yellow);
  font-family: 'Proxima Nova', sans-serif;
  margin: 0 !important;
  line-height: 9rem;
 }

 .notz{
  z-index: -1;
 }

 .ww{
  color: var(--white) !important;
 }

 .yy{
  color: var(--yellow) !important;
 }

 .navs{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.www{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.www p{
  /* font-size: 8rem; */
  font-size: clamp(5rem, 10vw, 8rem);
  font-weight: 1000 !important;
  color: var(--yellow);
  font-family: 'Proxima Nova', sans-serif;
  margin: 0 !important;
  line-height: 100px;
}

.wedo:hover{
  color: #fee600 !important;
}

.weare:hover:hover{
  color: #fff !important;
}

.work:hover{
  color: #fff !important;

}


/* 
.naves p:hover{
  margin-left: 4rem !important;
} */


.nav-icon {
	position: fixed;
	right: 60px;
	top: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 22;
	border-radius: 25px;
 }

 .hamburger-bar {
	width: 22px;
	height: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0);
 }

 .hamburger-bar:before {
	 content: url(./Components/arrow-down.svg) !important;
 }
 
.hamburger-bar:after {
	 content: url(./Components/arrow-up.svg) !important;
 }

 .hamburger-bar:before,
 .hamburger-bar:after
 {
	position: absolute;
 }
  
 .hamburger-bar:before {
	transform: rotate(0deg) translate(0px,-8px);
 }
 
 .hamburger-bar:after {
	 transform: rotate(0deg) translate(0px,8px);
 }
 .nav-icon.active .hamburger-bar {
	background: rgba(35, 36, 45, 0);
 }
 
 .nav-icon.active .hamburger-bar:before {
	transform: rotate(0deg) translate(0px,-4px);
 }
 
 .nav-icon.active .hamburger-bar:after {
	transform: rotate(0deg) translate(0px,4px);
 }
 
 .nav-icon:hover {
	background: rgba(180, 180, 180, 0.20);
	transform: translate(0, -3px);
 }
 
 main#home.scrolled .nav-icon,  main#home.scrolled .nav-icon:hover {
	 background: rgba(0, 0, 0, 0.25);
 }
 

 @media screen and (max-width: 540px){
	.nav-icon {
		right: 20px;
		top: 25px;
	}
	
	main.nav-scroll-down .nav-icon {
		top: -50px;
	}
	
	main.nav-scroll-down.active .nav-icon {
		top: 25px;
	}
}
/* ------------------------- Animations -------------------------------------------------- */

.logo, .nav-icon, .hamburger-bar, .hamburger-bar:before, .hamburger-bar:after, .logo path, .logo circle, .nav-cta-btn, li.active a, .nav-fade {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
  	-ms-transition: all .25s ease-in-out;
  	-o-transition: all .25s ease-in-out;
  	transition: all .25s ease-in-out;
 }

 .navspage{
  min-height: 100vh !important;
 }



