body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');


body{
  --grey: #4b5360;
  --yellow: #fee600;
  --white: #ffffff;
}

.bgg{
  background-color: var(--grey) !important;
}

.textgrey{
  color: var(--grey) !important;
}

.bigtitle{
  font-size: clamp(5rem, 8vw, 10rem) !important;
  /* font-size: 500% !important; */
  width: fit-content !important;
  font-family: "gilroy-bold" !important;
}


.bigtitle2{
  font-size: clamp(4rem, 7vw, 5rem) !important;
  /* font-size: 500% !important; */
  width: fit-content !important;
  font-family: "gilroy-bold" !important;
  
}
